@import "_mixins.scss";

header {
  position: relative;
  .hero-cart {
    height: 560px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-image: url(../img/overlay.svg), url(../img/bg-hero2.jpg);

    .hero-flex {
      padding: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: #fff;
      .hero__title {
        text-align: center;
        padding: 0 2rem;

        img {
          display: none;
        }

        h1 {
          font-weight: 600;
          padding-top: 5rem;
        }
      }

      @include md {
        justify-content: flex-start;
        align-items: flex-end;
        .hero__title {
          text-align: left;

          img {
            display: block;
            width: 100px;
          }
          h1 {
            padding-top: 1rem;
          }
        }
      }
    }
  }
}

nav.navbar {
  background-color: transparent;
  color: #fff;

  .navbar__bottom-bar {
    a {
      color: #fff;
    }
  }

  .navbar__bottom-bar-mobile {
    background-color: #fff;
  }
}
